// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors

$primary-lightest: #afcce7;
$primary-light: #7fb3e7;
$primary: #0466c8;
$primary-medium: #0353a4;
$primary-dark: #023e7d;

$secondary: #979dac;
$secondary-medium: #7d8597;
$secondary-dark: #5c677d;

$tertiary: #d62828;
$tertiary-medium: #c02323;
$tertiary-dark: #ac1f1f;

$white: #fff;
$grey: #999;
$grey-dark: rgb(109, 109, 109);
$black: #000;
